<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Styles/Resources/favicon.ico">
    <title>Swiftee</title>
</head>
<body class="app-theme">
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Index/Dashboard" class="navbar-brand active"><strong>Swiftee</strong></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="~/Index/Home">Home</a></li>
                <li><a href="~/Message/MainPage">Messages</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Jobs <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="~/Jobs/CreateNewJob">New Job</a></li>
                        <li><a href="~/Jobs/ActiveJobs">Active Jobs</a></li>
                        <li><a href="~/Jobs/DailyJobs">Daily Jobs</a></li>
                        <li><a href="~/Jobs/AllJobs">All Jobs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Profiles <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="~/Driver/AllDrivers">Driver Profiles</a></li>
                        <li><a href="~/Customer/AllCustomers">Customer Profiles</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Accounts <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="~/Accounts/AllCustomersAccount">Customer Accounts</a></li>
                        <li><a href="~/Accounts/AllDriversAccounts">Driver Commission</a></li>
                        <li><a href="~/Accounts/AccountOverview">Accounts Summary</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Invoices <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="~/Invoice/PendingInvoices">Pending Invoices</a></li>
                        <li><a href="~/Invoice/PaidInvoices">Paid Invoices</a></li>
                        <li><a href="~/Invoice/AllInvoices">All Invoices</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="~/Settings/Configuration">Email Settings</a></li>
                        <li><a href="~/Settings/ContractPackages">Contract Packages</a></li>
                    </ul>
                </li>
                <li><a href="~/FAQ/ShowFAQS">FAQ</a></li>

            </ul>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log out", "Logout", "Login", null, new { @class = "btn btn-danger pull-right", @style = "margin-right:2%; margin-top:0.75%;" })
            }
        </div>

    </nav>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/libraries")
    @Scripts.Render("~/bundles/scripts/myscripts")


    <section class="main-content">
        @RenderBody()
    </section>


    @RenderSection("scripts", required: false)
</body>
</html>
