@model IPagedList<CUST_INVC>
@{
    string targetPage = (string)ViewData["view"];
    string fromDate = (string)ViewData["fromDate"];
    string toDate = (string)ViewData["toDate"];
}
<div class="row col-md-12" id="invoiceData">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Invoice Number</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Paid</th>
                @if (targetPage.Equals("PendingInvoices"))
                {
                    <th></th>
                }
                else
                {
                    <th>Payment Mode</th>
                    if (targetPage.Equals("PaidInvoices"))
                    {
                        <th>Payment Date</th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (@item.CUST_DATA != null)
                    {
                        <td>@item.CUST_DATA.CustomerName</td>
                    }
                    else
                    {
                        <td>@item.JOB.CustomerName</td>
                    }
                    <td>@item.InvoiceNumber</td>
                    <td>@item.InvoiceDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.InvoiceAmount</td>
                    <td><input type="checkbox" class="checkbox-inline" value="@item.IsPaid" checked="@item.IsPaid" disabled="disabled" /></td>
                    @if (targetPage.Equals("PendingInvoices"))
                    {
                        <td ><a href="/Invoice/_InvoicePayableSummary?InvoiceId=@item.InvoiceId"  class="btn btn-default btnSelectInvoice" data-pxp="true" data-pxp-target="#selectedInvoice">Select</a></td>
                    }
                    else
                    {
                        <td>@(item.INVC_PYMT_MODE == null ? "" : item.INVC_PYMT_MODE.PaymentModeDsc)</td>
                        if (targetPage.Equals("PaidInvoices"))
                        {
                            <td>@(item.PaidDate.HasValue ? item.PaidDate.Value.ToString("dd/MM/yyyy") : "")</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="box-footer">
        <div class="pagedList" data-pxp-target="#invoiceData">
            @Html.PagedListPager(Model, page => Url.Action(targetPage, new { page, fromDate, toDate }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>
