@model DRVR_MSGS
@{
    var driverName = "All";
    if (@Model.DRVR_DATA != null)
    {
        driverName = @Model.DRVR_DATA.DriverName;
    }
    var fromInbox = false;
    if (ViewData["fromInbox"] != null)
    {
        fromInbox = (bool)ViewData["fromInbox"];
    }
    DRVR_MSGS reply = new DRVR_MSGS();
    reply.DriverId = Model.DriverId;
}
<div class="col-lg-11">
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="col-lg-10">@driverName <small style="margin-left:2em;"><b> @Model.MessageDate.AddHours(1).ToString("dd-MMM-yy hh:mm tt")</b></small></h3>
        </div>
        <div class="box-body">
            <div class="col-lg-10" style="padding-bottom:5em !important;">@Model.Message</div>
        </div>
        <div class="box-footer" style="margin-top:2%;">
            @if (fromInbox)
            {
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#replyModal">Reply</button>
            }
        </div>
    </div>
</div>

<div id="replyModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reply message</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    @Html.Partial("_MessageReply", reply)
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
