@model bool
@{
    ViewBag.Title = "AccountOverview";
}
<div class="container">
    <div class="panel panel-default box box-danger">
        <div class="panel-heading">
            <h3>Accounts</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid box-body">
                <div class="row">
                    <div class="box-header">
                        <h4>Accounts Overview</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div>
                                <form method="get" action="@Url.Action("AccountOverview")" @*data-pxp-ajax="true" data-pxp-target="#allJobs"*@ class="form-inline">

                                    <input type="search" class="DateDialog" placeholder="From Date&hellip;" name="fromDate" id="fromDate" />
                                    <input type="search" class="DateDialog" placeholder="To Date&hellip;" name="toDate" id="toDate" />
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    @if(Model!=true)
                    { 
                    <h4>Please search for a date range to get the account overview</h4>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Total jobs: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.TotalJobs </label></div>
                        </div> 
                         <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Sub income raw: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.SubIncomeRaw &pound;</label></div>
                        </div> 
                         <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Total Driver Commission: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.TotalDriverCommission &pound;</label></div>
                        </div> 
                        <br />
                         <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Total Earned on Hourly Jobs: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.TotalEarnedOnZeroJobs &pound;</label></div>
                        </div> 
                        <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Total Earned on Commission: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.TotalEarnedOnCommission &pound;</label></div>
                        </div> 
                        <br />
                         <div class="row">
                            <div class="col-md-3 col-xs-6"><label>Net Total Earned: </label></div>
                            <div class="col-md-3 col-xs-6"><label>@ViewBag.NetTotalEarned &pound;</label></div>
                        </div> 
                        <br />
                        foreach (var item in ViewBag.paymentTypeSummary)
                        {
                            <div class="row">
                                <div class="col-md-3 col-xs-6"><label>Jobs on @item["Type"]: </label></div>
                                <div class="col-md-6 col-xs-6"><label>@item["Amount"] &pound; (@item["Count"] Jobs)</label></div>
                            </div> 
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Raw(TempData["toastMessage"])

<script type="text/javascript">
    $('.DateDialog').datepicker(); //Initialise any date pickers
</script>

